# Deliverable 2
Using your knowledge of PySpark, Pandas, or SQL, you’ll determine if there is any bias towards reviews that were written as part of the Vine program. For this analysis, you'll determine if having a paid Vine review makes a difference in the percentage of 5-star reviews.

In [1]:
import pandas as pd

In [2]:
# file exported as csv file from pgAdmin
df = pd.read_csv("Data/vine_table.csv")
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N
2302400,RPJDYNNK1AMKT,5.0,0.0,0.0,N,N

In [3]:
# filter df to only include reviews with 20 or more total_votes
high_vote_df = df[df["total_votes"] >= 20]
high_vote_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [7]:
# filter previous df to include only reviews with high helpful vote rating
helpful_vote_df = high_vote_df[(high_vote_df["helpful_votes"]/high_vote_df["total_votes"] >= 0.5)]
helpful_vote_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [9]:
# filter previous df to include only reviews paid from the Vine program (vine = Y)
vine_Y_df = helpful_vote_df[helpful_vote_df["vine"] == "Y"]
vine_Y_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N

In [12]:
# all unpaid reviews (vine = N)
vine_N_df = helpful_vote_df[helpful_vote_df["vine"] == "N"]
vine_N_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

### Step 5
Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid)

In [16]:
# Paid reviews with 5 star rating
paid_5star_reviews = vine_Y_df.loc[vine_Y_df["star_rating"] == 5]["star_rating"].count()
paid_5star_reviews

56

In [17]:
# total paid review count
paid_reviews = vine_Y_df["star_rating"].count()
paid_reviews

107

In [27]:
# percentage of 5-star paid reviews
percent_5star_paid_reviews = round((paid_5star_review / paid_reviews) * 100,2)
print(f'{percent_5star_paid_reviews}% of paid reviews had a 5-star rating')

52.34% of paid reviews had a 5-star rating

### step 5b - unpaid reviews

In [24]:
# unpaid reviews with 5 star rating
unpaid_5star_reviews = vine_N_df.loc[vine_N_df["star_rating"] == 5]["star_rating"].count()
unpaid_5star_reviews

21005

In [25]:
# total unpaid review count
unpaid_reviews = vine_N_df["star_rating"].count()
unpaid_reviews

39869

In [28]:
# percentage of 5-star unpaid reviews
percent_5star_reviews_unpaid = round((unpaid_5star_reviews / unpaid_reviews) * 100,2)
print(f'{percent_5star_reviews_unpaid}% of unpaid reviews had a 5-star rating')

52.69% of unpaid reviews had a 5-star rating